@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
*{
  box-sizing: border-box;
}
:root {
  --bg-color: #282c34;
  --prymary-color: #3c9e86;
  --prymary-color--l1: #44b397;
  --secondary-color: #53f1d4;
  --accent-color: #7a4d88;
  --accent-color--l1: #995faa;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--bg-color);
  color: white;
  font-family: "Neucha", cursive;
}
.header {
  display: flex;
  justify-content: center;
  margin: calc(10px + 2vmin) 0;
  font-size: calc(30px + 2vmin);
  color: white;
  user-select: none;
  text-transform: uppercase;
  z-index: 1;
}
